main {
  text-align: center;
}

.points {
  margin-bottom: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  font-weight: bold;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f17272;
}

.timer {
  width: 200px;
  font: 28px;
  margin-left: auto;
  margin-right: auto;
  color: #444;
  border: 3px solid #444;
}
