body {
    box-sizing: border-box;
    margin: 0;
    background: #FCFAE1;
    background-repeat: no-repeat;
    color: #333;
    display: grid;
    grid-template-rows: 1fr auto
}

/* Red */
/* #B9121B */
/* Tan */
/* #BD8D46 */
/* Maroon */
/* #4C1B1B */
/* White */
/* FCFAE1 */
/* cream */
/* #F6E497 */