h1,
h2,
h3 {
  text-align: center;
  margin: 10px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
  font-style: italic;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

p {
  margin: 20px;
}

section {
  border: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

section:nth-child(odd) {
  background-color: #910101;
  color: white
}

main {
  margin-left: auto;
  margin-right: auto;
}

/* Tablet */
@media only screen and (min-width: 767px)  {
  section {
    width: 80%;
  }
  h1 {
    font-size: 33px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1025px) {
  section {
    width: 700px;
  }

  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
}