h1,
h2,
h3 {
  text-align: center;
  margin: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  font-style: italic;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

p {
  margin: 20px;
}

section {
  border: 1px solid #000;
}
