.login,
.signup {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  border: 0;
  margin-bottom: 0px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

input,
label {
  margin: 10px;
  text-align: left;
}

input {
  width: 70%;
  padding: 3px 8px;
}

label {
  display: inline-block;
}

form {
  text-align: left;
  margin-left: 15%;
}

section {
  margin: 10px;
}

.active input {
  outline: 2px solid #ff0000;
}

button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  color: #C23333;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  margin: 10px;
  transition: 0.3s ease-in-out;
  box-shadow: none;
}

button:hover,
button:focus {
  background-color: #790202;
  color: #fff;
}

.btn-tab {
  margin: 10px;
  background-color: #b60606;
  color: #fff;
  padding: 12px 20px;
  border: 0;
  border-radius: 2px;
  font-size: 16px;
}

.submit-btn {
  width: 40%;
  margin-left: 20%;
  margin-right: 30%;
}

.signup,
.login {
  margin-top: 0;
}

.message {
  padding: 12px 6px;
}

.message-success {
  background-color: #5cb85c;
  color: white;
}

.message-error,
.form-error {
  background-color: #d9534f;
  color: white;
}

.form-error {
  margin: 0 6px;
  padding: 6px;
  display: inline-block;
}
