.login,
.signup {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  border: 0;
  border-radius: 15px;
  margin-bottom: 0px;
  background-color: #BD8D46 
}


.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

input,
label {
  margin: 10px;
  text-align: left;
}

input {
  width: 70%;
  padding: 3px 8px;
}

label {
  display: inline-block;
  font-weight: 600;
}

form {
  text-align: left;
  margin-left: 15%;
}

section {
  margin: 10px;
}

input:focus {
  outline: 2px solid #B9121B;
}

button {
  background-color: #FCFAE1;
  border: 1px solid #000;
  border-radius: 3px;
  color: #B9121B;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  margin: 10px;
  transition: 0.3s ease-in-out;
  box-shadow: none;
}

button:hover,
button:focus {
  background-color: #4C1B1B;
  color: #FCFAE1;
}

.btn-tab {
  margin: 10px;
  background-color: #FCFAE1;
  color: #333;
  padding: 12px 20px;
  border: 0;
  border-radius: 2px;
  font-size: 16px;
}

.submit-btn {
  width: 40%;
  margin-left: 20%;
  margin-right: 30%;
}

.signup,
.login {
  margin-top: 0;
}

@media only screen and (max-width: 765px) {
  .col-25 {
    float: left;
    width: 100%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 100%;
    margin-top: 6px;
  }

  .submit-btn {
    padding: 4px 16px;
    width: auto;
  }

  input,
label {
  margin: 6px;
  text-align: left;
}

input {
  width: 70%;
  padding: 3px 8px;
}

section {
  width: 100%
}
}
