.login,
.signup {
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

input,
label {
  margin: 10px;
  text-align: left;
}

form {
  text-align: center;
}

button {
  padding: 8px 12px;
  border-radius: 3px;
  box-shadow: none;
}

section {
  margin: 10px;
}

.active input {
  outline: 2px solid #ff0000;
}

button {
  background-color: #b10b0b;
  border: 1px solid #000;
  color: #fff;
  font-size: 16px;
  padding: 12px 20px;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
}

button:hover,
button:focus {
  background-color: #790202;
}


.btn-tab {
  margin: 10px;
  background-color: #b60606;
  color: #fff;
  padding: 12px 20px;
  border: 0;
  border-radius: 2px;
  font-size: 16px;
}

.signup,
.login {
  margin-top: 0;
}

.message {
  padding: 12px 6px;
}

.message-success {
  background-color: #5cb85c;
  color: white;
}

.message-error,
.form-error {
  background-color: #d9534f;
  color: white;
}

.form-error {
  margin: 0 6px;
  padding: 6px;
  display: inline-block;

}
