.navWide {
  display: none;
}

.navNarrow i {
  float: left
}

.navNarrow .narrowLinks {
  display: none;
}

.navWide .wideLinks {
  display: none;
}

.navNarrow .narrowLinks a {
  width: 75px;
    display: block;
    float: left;
    clear: left;
    font-size: 14px;
    margin-left: -10px;
    padding: 4px 0;
    border: 1px solid #1E1E20;
    border-top: none;
}

.navNarrow .narrowLinks a:first-child {
  border-top: 1px solid #1E1E20;
}

nav {
  background-color: #B9121B;
  color: #333;
  height: 40px;
}

li {
  display: inline-block;
  font-size: 16px;
  padding: 5px;
  margin: 5px 10px 5px;
}

a {
  text-decoration: none;
  color: #fff4dc;
  background: #B9121B;
}

a:visited {
  color: #fff;
}

.Menu:first-child {
  margin-left: 10px;
}

@media only screen and (min-width: 767px) {
  nav {
    height: 50px;
  }

  .navWide, .navWide .wideLinks {
    display: inline-block;
    margin: 5px;
  }

  .wideLinks a {
    margin: 10px;
    padding-top: 20px;
    font-size: 18px;
    padding: 5px 0;
  }

  .Menu {
    display: none;
  }

  li {
    font-size: 18px;
    padding: 8px;
    margin: 8px 10px 5px;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    height: 60px;
  }

  .navWide, .navWide .wideLinks {
    display: inline-block;
    margin: 8px;
  }

  .wideLinks a {
    margin: 10px;
    padding-top: 20px;
    font-size: 22px;
    padding: 5px 0;
  }

  .Menu {
    display: none;
  }

  li {
    font-size: 18px;
    padding: 10px;
    margin: 10px 10px 5px;
  }
}