.restaurant-list {
    background-color: #910101;
    color: #fff;
    margin: 0;
    padding: 10px;
}

th, td {
    border: 1px solid #dddddd;
    padding: 10px;
}

.search-btn {
  display: inline-block;
}

input {
  width: 50%;
}

@media only screen and (max-width: 765px) {
  table,
  th,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  main {
    width: 60%;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #6e0400;
  }

  td {
    border: none;
    border-bottom: 1px solid #a30500;
    position: relative;
    padding: 10px;
    padding-left: 50%;
    padding-right: 5px;
    font-size: 12px;
  }

  td:before {
    position: absolute;
    top: 2px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: 600;
  }

  td:nth-of-type(1):before {
    content: "Name";
  }
  td:nth-of-type(2):before {
    content: "Address";
  }
  td:nth-of-type(3):before {
    content: "Distance";
  }
  td:nth-of-type(4):before {
    content: "Avg. Wait";
  }
  td:nth-of-type(5):before {
    content: "Report Time";
  }

  button {
    padding: 6px 8px;
  }
}